name: Trigger CircleCI workflow to run all E2E tests

on:
  pull_request:
    types: [labeled]

jobs:
  trigger-e2e:
    if: github.event.label.name == 'run all e2e tests'
    runs-on: ubuntu-latest
    steps:
      - name: Make request to CircleCI
        run: >
          curl --request POST
          --url https://circleci.com/api/v2/project/gh/storybookjs/storybook/pipeline
          --header 'Circle-Token: '"$CIRCLE_CI_TOKEN"' '
          --header 'content-type: application/json'
          --data '{"branch":"${{ github.event.pull_request.head.ref }}"}'
        env:
          CIRCLE_CI_TOKEN: ${{ secrets.CIRCLE_CI_TOKEN_GMAISSE_TEST }}
